work/
etch*
transcript
vsim.wlf
long_man_venv
sky130pdk
**/*.fst
**/*.vcd
**/results.xml
**/sim_build
modelsim.ini
Makefile.template
__pycache__/
**/*.vscode
**/.DS_Store
**/a.out
**/*.swp
src/config_merged.json
src/user_config.json
runs
.*.stamp
ports.json
test-out
